{
   "mappings":{
      "http":{
         "properties":{
            "location":{
               "type":"geo_point"
            }
         }
      },
      "tcp":{
         "properties":{
            "location":{
               "type":"geo_point"
            }
         }
      },
      "udp":{
         "properties":{
            "location":{
               "type":"geo_point"
            }
         }
      }
   }
}